@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

@theme {

    --font-mono: 'Roboto Mono', 'Aboreto', 'Armata', 'Audiowide', 'Italiana', 'Merienda', 'Nobile', 'JetBrains Mono', ui-monospace, monospace;
    --font-display: 'Audiowide', ui-sans-serif, sans-serif;
    --font-aboreto: 'Aboreto', system-ui;
    --font-header:   'Recursive', sans-serif;
    
    --color-background: #dbd6d6;
    --color-background-dark: #191a1c;

    --color-surface: #f8f9fa;
    --color-surface-dark: #31748F;

    --color-text-primary: #1a1a1a;
    --color-text-primary-dark: #E0E0E0;

    --color-text-secondary: #6b7280;
    --color-text-secondary-dark: #95AFC7;

    --color-action: #d63384;
    --color-action-dark: #CB6583;

    --color-interactive: #0d6efd;
    --color-interactive-dark: #6E87EE;

    --color-success: #198754;
    --color-success-dark: #5FB3B4;

    --color-border: #dee2e6;
    --color-border-dark: #6E6A86;
}

@layer base {
    html {
        @apply bg-background dark:bg-background-dark;
       
    }
}


