.nav {
    display: flex;
    justify-content: space-between;
    padding-inline: 3rem;
    padding-block: 0.75rem;
    width: 100%;
    max-width: 64rem;
    margin-inline: auto;
}

.nav-items {
    display: flex;
    gap: 1rem;
    font-family: var(--font-nav-items);
    font-size: medium;
    cursor: pointer;
}

.logo {
    display: flex;
    gap: 10px;
    font-size: large;
    cursor: pointer;
}

.logo-zone {
    font-family: var(--font-display);
    position: relative;

}

.logo-typer {
    font-family: var(--font-display);
    position: relative;
    color: var(--bg-failure);
}

.logo-animate {
    
}