.nav {
    display: flex;
    justify-content: space-between;
    padding-inline: 3rem;
    padding-block: 0.75rem;
    width: 100%;
    max-width: 64rem;
    margin-inline: auto;
}

.nav-items {
    display: flex;
    gap: 1rem;
    font-family: var(--font-nav-items);
    font-size: medium;
    cursor: pointer;
}

.nav-items>li {
    position: relative;
    padding: 7px;
    margin: -7px;
    list-style: none;
}

.nav-items>li>span{
    position: relative;
    display: inline-block;
    
}

.nav-items>li>span::after {
    position: absolute;
    content: '';
    height: 0.25rem;
    width: 0%;
    background-color: var(--text-failure);
    transform: skew(-30deg);
    transition: width 0.2s;
    inset: auto 0 -6px 0;
}


.nav-items>li>span:hover::after {
    width: 100%;
}


.logo {
    display: flex;
    gap: 10px;
    font-size: large;
    cursor: pointer;
}

.logo-zone {
    font-family: var(--font-display);
    position: relative;

}

.logo-typer {
    font-family: var(--font-display);
    position: relative;
    color: var(--text-failure);
}

.logo-animate {}