.container {
    position: relative;
    display: flex;
    flex-direction: column;
    font-family: var(--font-nav-items);
    color: var(--font-results);
    border-radius: 10px;
    box-shadow: 4px 6px 20px rgba(0, 0, 0, 0.4);
    background-color: var(--background-results);
    padding: 0.7rem;
    height: 98%;
    margin: 0.25rem;
    margin-top: -4px;
    width: 46rem;
}

.container::before {
    content: '';
    inset: 0;
    position: absolute;
    background-image: url('/assets/texture_mask.webp');
    background-size: cover;
    opacity: .1;
    pointer-events: none;
}

.card {
    gap: 1rem;
    display: grid;
    grid-template-columns: auto 1fr auto;
    width: 50rem;
    height: 16rem;
}

.heading {
    text-align: center;
    font-size: 1.4rem;
    padding: 0.25rem;
    border-radius: 10px;
    align-self: center;
}

.statsGrid {
    display: flex;
    flex-direction: column;
    gap: 0.50rem;
}

.statsGrid li {
    display: flex;
    flex-direction: column;
    padding: 0.25rem;
    border-radius: 10px;
    list-style: none;
    font-size: 1rem;
    font-weight: 700;
    gap: 3px;


}

.statsGrid li span {
    font-weight: 600;
    font-size: 1.25rem;
    color: var(--text-stats);

}

.nextSession {
    text-align: center;
    font-size: 1.25rem;
    padding-top: 4rem;
}


.graph {}